*.out
*.log
*.so
*.a
*.lib
*.dll
*.ipynb_checkpoints/
.idea/*
*build*
*.bin
dist
*.egg-info/
tables
*vtune/
# Default ignored files
/shelf/
/workspace.xml
__pycache__
# Datasource local storage ignored files
/../../../../:\prog\coherent_summation_module\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/